@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body{
    background-color: #f8f5f2;
}
h1 {
color: rebeccapurple;
}

h2{
color:rgb(8, 8, 112)    
}

* {
    font-family: Courgette, sans-serif;
    }
iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main{
 display: flex; 
row-gap: 0.5rem; 
column-gap: 0.5rem; 
flex-wrap: wrap; # 
justify-content: space-between; 
}
main #InfoPersonal {
   width: 100%;
}
main #Educacion {
    width: 49.5%;

}
main #Habilidades {
    width:49.5%;
}
main #ExperienciaL {
    width: 100%;
}

