@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body{
    background-color: #f8f5f2;
}
h1 {
color: rebeccapurple;
}

h2{
color:rgb(8, 8, 112)    
}

* {
    font-family: Courgette, sans-serif;
    }
iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main{
 display: grid;
 row-gap: 0.5rem;
 column-gap: 0.5rem;
 grid-template-areas: "fila1 fila1 fila1 fila1 fila1 fila1"
     "fila21 fila21 fila22 fila22 fila23 fila23"
     "fila31 fila31 fila31 fila32 fila32 fila32"
     "fila41 fila41 fila41 fila41 fila41 fila41";
}
main #InfoPersonal {
    grid-area:fila1;
}
main #Educacion {
    grid-area:fila21;

}
main #Habilidades {
    grid-area:fila22;
}
main #ExperienciaL {
    grid-area:fila23;
}

